body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
.log{
  font-family: 'Inspiration', cursive;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
.main{
  font-family: 'Rowdies', cursive;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {color: black;}
  to {color:gray;}
}
.switch{
  position: relative;
  display: inline-block;
  width: 75px;
  height: 30px;
  
}
.back{
  background-color: #28282B;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.slider::before{
  position: absolute;
  content: "";
  height: 30px;
  width: 45px;
  background-color: black;
  transition: 0.4s;
  border-radius: 50rem;
}

input:checked + .slider::before{
  transform: translateX(40px);
}

@media screen and (max-width: 1426px) {
  .done{
  
  }
}